html, body{
    height: 100%;
    font-family: "titillium web", sans-serif;
    font-size: 0.9em;;
}

p{
    font-family: "titillium web",sans-serif;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}


/*Navbar*/
.navbar-inverse{
    border-radius: 0;   
    display: flex;     
    background-color: rgba(0, 0, 0, 0.7);
    border: 0px;
    margin: 0px;
    font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e0e0e0;
}

.navi{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "titillium web", sans-serif;
}

.navbar-inverse .navbar-brand {
    color: rgba(255, 193, 7, 0.5);
    font-size: 3em;
    font-family: "Monoton",cursive;
}

.navbar-nav{
    font-size: 1.1em;
}

.navbar-header a{
    font-size: 1.9em;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px dashed;
    border-radius: 13px;
    border-bottom: 2px dashed;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    border-radius: 25px;
    background-color: rgba(255, 193, 7, 0.75);
    color: black;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: rgba(255, 193, 7, 1);
    border-top: 2px dashed ;
    border-bottom: 2px dashed ;
}

.main{
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
    letter-spacing: 1px;
    font-size: 1.4em;
    min-height: 300px;
}

.skills, .projects{
    background-color: #ffffff;
    padding-top: 0px;
} 

.secs{
    min-height: 500px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.bg{
    background: url(../images/design1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.home{
    background: rgba(1,1,1,0.7);
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.over{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
}

#xp{
    background: url(../images/design7.jpg);
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.xp{
    border-top: 5px solid rgba(255, 255, 255, 0.24);
    color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 20px;
    padding-left: 5%;
    font-size: 0.9em;
}

.resume-head, .resume-foot{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1px;
    background: rgba(0, 0, 0, 0.35);
    color: #e6e6e6;
}

.resume-foot{
    border-radius: 0px;
}

#contact{
    padding-bottom: 
}

form{
    width: 85%;
    font-family: "titillium web", sans-serif;
    font-size: 1.2em;
    padding-bottom: 20px;
}


.panel-content{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contact{
    margin-bottom: 30px;
}

.btn-block{
    font-size: 1.1em;
}

footer{
    min-height: 100px;
}

.foot-up{
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
}

.foot-down{
    height: 50px;
    background-color: #333333;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

