html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}

/*Nav bar styling*/

#nav {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #000;
    z-index: 100;
    top: 0;
    left: 0;
}

h3 {
    margin-top: 13px;
}

li {
    width: 100px;
    color: aliceblue;
    font-size: 15px;
    float: left;
    margin-top: 15px;
    text-align: center;
}

#nav #logo {
    color: aliceblue;
    width: 300px;
    float: left;
    padding-left: 10px;
}

#nav #navi {
    width: 550px;
    float: right;
}

#navi>ul {
    list-style: none;
}

/*Nav bar styling ends*/

.content {
    width: 80%;
    margin-left: 10%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Chathura', sans-serif;
    font-size: 50px;
    z-index: 2;
}

.img {
    width: auto;
    height: 1080px;
    z-index: 1;
    //position: absolute;
    background: no-repeat center center fixed;
}

#home {
    background-image: url(../images/bracket.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#image2 {
    background-image: url(../images/awake.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#image3 {
    background-image: url(../images/future.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#footer {
    height: 400px;
    background-color: black;
}